# OS files
.DS_Store

# Python
__pycache__/
*.pyc

# User data (place source files in public/)
data/
kodansha-china-history/
sapiens-a-brief-history-of-humankind/
ren-lei-da-li-shi/

# Generated output
dist/

# Dependencies
node_modules/

# Ignore everything in public except README
public/*
!public/README.md
