# OS files
.DS_Store

# Python
__pycache__/
*.pyc

# User data (place source files in public/)
data/
kodansha-china-history/
sapiens-a-brief-history-of-humankind/
ren-lei-da-li-shi/

# Generated output
dist/

# Dependencies
node_modules/

# Ignore everything in public except README
public/*
!public/README.md

# Silk Roads (Taiwan)
si-chou-zhi-lu/
dist_sichou/

# Silk Roads (Shao Xudong)
si-chou-zhi-lu-shao-xu-dong/
dist_sichou_shao/

# Misc
The Silk Roads_ A New History of the World - Peter Frankopan/

# Sapiens (Simplified)
Ren Lei Jian Shi _Cong Dong Wu Dao Shang D - Yuval Noah Harari/
dist_renlei_jian_shi/
